@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
  --success-color: #2ecc71;
  --error-color: #d32e11;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-image: url(dark-blue-striped-background-vector-260nw-2264613893.png);
  background-size: cover;
}
h2 {
  text-align: center;
  margin: 0 0 20px;
}
.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 400px;
}
.form {
  padding: 30px 40px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  color: #000000;
  display: block;
  margin-bottom: 5px;
}
.form-control input {
  border: 2px solid #ffffff9b;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.form-control input:focus {
  outline: 0;
  border-color: #777;
}
.form-control.success input {
  border-color: var(--success-color);
}
.form-control.error input {
  border-color: var(--error-color);
}
.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
}
.form button {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(12, 180, 12);
  border: 2px solid rgb(12, 180, 12);
  color: white;
  display: block;
  font-size: 16px;
  padding: 5px 10px;
  margin-top: 20px;
  width: 100%;
}
